.jumbotron
{
	background-color: #419AAB;
	color: white;
	margin-top: 50px;
}

footer
{
	padding: 10px 10px 0px 10px;
	background-color: #419AAB;
	margin-bottom: 0px;
	color: white;
	margin-top: 10px;
}

.card-hotel
{
	flex: 1 200px;
	margin-top: 10px; 
}

.btn-reserva
{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon
{
	padding-right: 5px;
}

.tab-content
{
	padding-top: 10px;
}