$yellow:#b3b524;
$Gris:#a2a3a8;
$Naranja:#a3623c;

@mixin margenes($top,$bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

body nav
{
	background-color:blue;
}

#fondo
{
	background-image: url(../img/hotel.jpg);
	background-size: cover;
}

.jumbotron
{
	color: black;
	background-color: $Naranja;
	@include margenes(50px,15px);
}


body{
  background-color: $Gris;
}

footer
{
	padding: 10px 10px 0px 10px;
	background-color: $Naranja;
	@include margenes(10px,0px);
	text-decoration: none;
}

.card-hotel
{
	flex: 1 200px;
	margin-top: 10px; 
}

.btn-reserva
{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon
{
	padding-right: 5px;
}

.tab-content
{
	padding-top: 10px;
}