@yellow:green;
@yellowPastel:#f3f573;
@Naranja:#a3623c;

.margenes(@top: 0px,@bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron
{
	background-color: @Naranja;
	color: black;
	.margenes(50px,15px);
}


body{
  background-color: @yellow;
}

footer
{
	padding: 10px 10px 0px 10px;
	background-color: @Naranja;
	.margenes(10px,00px);
	text-decoration: none;
}

.card-hotel
{
	flex: 1 200px;
	margin-top: 10px; 
}

.btn-reserva
{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon
{
	padding-right: 5px;
}

.tab-content
{
	padding-top: 10px;
}