body nav {
  background-color: blue; }

#fondo {
  background-image: url(../img/hotel.jpg);
  background-size: cover; }

.jumbotron {
  color: black;
  background-color: #a3623c;
  margin-top: 50px;
  margin-bottom: 15px; }

body {
  background-color: #a2a3a8; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #a3623c;
  margin-top: 10px;
  margin-bottom: 0px;
  text-decoration: none; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 5px; }

.tab-content {
  padding-top: 10px; }
